body {
    height: 100%;
    background-color: #053B50;
}


.ac-color-primary {
    background-color: #EEEEEE;
}



h1,
p,
a,
span {
    font-family: "Rubik", sans-serif;
}

span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #176B87;
}

h1{
    font-size: 3rem;
    color: #EEEEEE;
}

p, h2 {
    font-size: 1.2rem;
    color: #176B87;
}

h2{
    font-size: 3rem;
}

#form-ticket, #ticket {
    border-radius: 20px;
}


button{
    background-color: #64CCC5 !important;
    border-color: #64CCC5 !important;
    color: #EEEEEE !important;
}